/* Bottom.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root, .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
    min-height: 690px;
}

.footer {
    flex-shrink: 0;
    width: 100%;
}